.navbar {
  background-color: #fcfbfb;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  height: 90px;
  width: 100%;
  padding: 10px;
  background: #ffffff;
  box-shadow: 0px 0px 17px rgba(0, 0, 0, 0.08);
}

.navbar .vector {
  position: absolute;
  width: 47.99px;
  height: 55.7px;
  margin-left: 50px;
  top: 20.57px;
  background: #f3f8f8;
}

.navbar .Checkup {
  position: absolute;
  width: 111px;
  height: 36px;
  margin-left: 110px;
  top: 30px;

  font-family: "Inria Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  color: #28696d;
}

.navbar .Bell {
  box-sizing: border-box;
  position: absolute;
  left: 77.92%;
  right: 20.53%;
  top: 25.77%;
  bottom: 93.87%;

  /* white */

  background: #ffffff;
  /* icon_gray */

  border: 1px solid #c2cfe0;
}

.navbar .Ellipse1 {
  position: absolute;
  left: 78.79%;
  right: 20.44%;
  top: 20.69%;
  bottom: 95.94%;
  background: #f96d82;
  border: 1px solid #ffffff;
}

.navbar .Img
{
  position: absolute;
  height: 90px;
  width: 90px;
  left: 1450px;
  top: 3px;

  border: 2px solid #ffffff;
  filter: drop-shadow(0px 4px 20px rgba(160, 59, 59, 0.15));
}

.navbar .imgtext
{
  position: absolute;
  height: 30px;
  width: 199px;
  left: 1540px;
  top: 29px;
}
  
.h3
{
  font-family: 'Inria Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  color: #000000;
}

.navbar .dropdown{    /* kaha pe arrow hai*/
  position: absolute;
  left: 1700px;
  top: 30px;    
  border-radius: 0px;
  /* transform: rotate(-180deg); */
}

.menu{       /* menu ka box kaha pe khulega*/
  position: absolute;
  top:-28px;
  right:6px;
  border-radius: 4%;
  background-color: rgb(173, 245, 245);
  border: 1px dotted black;
  outline: none;
  color: #0e0d0d;
  font-size: 18px;
  letter-spacing: 1px;
}

.navbar #menu-arrow{    /* menu arrow ka shape and size*/
  cursor: pointer;
  margin-right: 2px;
  width: 10px;
  height: 10px;
  color: rgb(47, 219, 219);
  background-color:rgb(255, 255, 255);
}
#menu-arrow:hover{
  transform: scale(1.5);
  background-color: rgb(207, 222, 219);
}

.menu ul{
  list-style: none;
  margin: 0px;
  padding: 0px;
  border:none;
  outline: none;
  background-color: #1ceef5;
  
}
.menu ul li button{
  /* cursor: pointer; */
  padding: 0px;
  margin: 0px;
  width:100%;
  height:100%;
  border:none;
  outline: none;

}
.menu ul hr{
  padding: 0px;
  margin: 0px;

}
.menu ul li button:hover{
  background-color: rgb(235, 243, 243);
  transform: scale(0.9);
}