.details-box {
    position: absolute;
    width: 363px;
    height: 984px;
    left: 0px;
    top: 95px;
    
    background: #01C6B2;
  }
  
  .details-box .rectangle
  {
    position: absolute;
    width: 295px;
    height: 72px;
    left: 34px;
    top: 129px;
  
    background: #FFFFFF;
    border-radius: 24px;
  }
  
  .rectangle .appointement
  {
    position: absolute;
    left: 7.07%;
    right: 95.89%;
    top: 29.44%;
    bottom: 83.6%;
  
    background: #eeeaea;
  }
  
  