.details-box {
    position: absolute;
    width: 363px;
    height: 984px;
    left: 0px;
    top: 95px;
    
    background: #01C6B2;
  }
  
  .details-box .rectangle1
  {
    display: flex;
    position: absolute;
    width: 295px;
    height: 72px;
    left: 34px;
    top: 50px;
    align-items: center;
    justify-content: center;
  
    background: #FFFFFF;
    border-radius: 24px;
  }
  .details-box .rectangle2
  {
    display: flex;
    position: absolute;
    width: 295px;
    height: 72px;
    left: 34px;
    top: 180px;
    align-items: center;
    justify-content: center;
  
    background: #FFFFFF;
    border-radius: 24px;
  }
  
  .rectangle1 .appointement
  {
    position: absolute;
    left: 7.07%;
    right: 95.89%;
    top: 29.44%;
    bottom: 83.6%;
  
    background: #eeeaea;
  }
  
  .rectangle2 .patient
  {
    position: absolute;
    width: 20px;
    height: 22.36px;
    left: 23px;
    top: 23px;
    background-color: black;
  }


  