.Layer3
{
height: 330px;
width: 450px;
margin-left: 700px;
margin-top: 60px;

}

.forgot{
    position: absolute;
    height: 84px;
    left: 640px;
    top: 400px;
    
    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    line-height: 100px;
    color: #000000;
    }

    .form-signin2 {
        width:100%;
        max-width: 600px;
        padding: 15px;
        margin-top: 120px; 
        margin-left: 625px;
    }
    
    
    .form-signin2 .form-control2 {
        margin: 8px 3px;
        position: relative;
        box-sizing: border-box;
        width:100%;
        height: auto;
        padding: 10px;
        font-size: 36px;
        background: #F6F6F6;
        border: 1.99417px solid #E4E8F1;
        border-radius: 10.9534px;
        transition: all 0.3s;
    }
    
    
    .form-signin2 input:focus{
        border-color: #27ae60;
        box-shadow: inset 0 0 3px #2fd072;
    }
    /* .form-signin2 input[type="email"] {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0; 
    }*/

    .form-signin2 .button2
{
    width:100%;
    height: 65px;
    margin: 20px 0px 10px 0px;
    background-color: #01C6B2;
    border-radius: 10px;
    border:none;
    outline: none;
    color: #fff;
    font-family: 'Inria Sans';
    font-size: 32px;
    /* font-weight: bold; */
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s;
    /* cursor: no-drop; */
    /* opacity: 0.7; */

}

.form-signin2 .button2:hover
{
    background: #219150;
}

.p{
    font-family: 'Inria Sans';
    font-size: 26px;
    font-weight: bold;
    letter-spacing: 1px;
    margin-left: 200px;
}

.form-signin2 .backto
{
    position: absolute;
    font-size: 26px;
    font-weight: bold;
    letter-spacing: 1px;
    margin-left: 300px;
    top:724px;
    user-select: none;
    cursor: pointer;
    /* display: none; */
    font-family: 'Inria Sans';
    font-style: normal;
    color: #01C6B2;
}
